{% extends "f5/lib/F_C2N_base.html" %}
{% load cms_tags static sekizai_tags i18n menu_tags dju_tags %}

{% block content %}

<hr>
<h4 align="center">placeholder actu_labo</h4>
<hr>
<div>
{% placeholder "actu_labo" %}
</div>

<hr>
<h4 align="center">placeholder content</h4>
<hr>
<div>
{% placeholder "content" %}
</div>

<h4 align="center">placeholder descriptif</h4>
<hr>
<div>
{% placeholder "descriptif" %}
</div>

<hr>
<h4 align="center">placeholder descriptif_departement</h4>
<hr>
{% placeholder "descriptif_departement" %}
</div>

<hr>
<h4 align="center">placeholder equipes</h4>
<hr>
<div>
{% placeholder "equipes" %}
</div>

<hr>
<h4 align="center">placeholder info</h4>
<hr>
<div>
{% placeholder "info" %}
</div>

<hr>
<h4 align="center">placeholder info2</h4>
<hr>
<div>
{% placeholder "info2" %}
</div>

<hr>
<h4 align="center">placeholder info_departement</h4>
<hr>
<div>
{% placeholder "info_departement" %}
</div>

<hr>
<h4 align="center">placeholder la_centrale</h4>
<hr>
<div>
{% placeholder "la_centrale" %}
</div>

<hr>
<h4 align="center">placeholder labo</h4>
<hr>
<div>
{% placeholder "labo" %}
</div>

<hr>
<h4 align="center">placeholder plateforme</h4>
<hr>
<div>
{% placeholder "plateforme" %}
</div>

<hr>
<h4 align="center">placeholder semin_labo</h4>
<hr>
<div>
{% placeholder "semin_labo" %}
</div>

<hr>
<h4 align="center">placeholder service</h4>
<hr>
<div>
{% placeholder "service" %}
</div>

<hr>
<h4 align="center">placeholder services</h4>
<hr>
<div>
{% placeholder "services" %}
</div>

<hr>
<h4 align="center">placeholder uv</h4>
<hr>
<div>
{% placeholder "uv" %}
</div>

{% endblock %}

